{% extends "base.html" %}

{% load static %}

{% block sytlesheet %}
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
{% endblock sytlesheet %}

{% block title %}Home{% endblock %}
{% block brand %}Home{% endblock brand %}

{% block nav-item %}
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="nav-link">Abmelden</a>
    {% else %}
        <a href="{% url 'login' %}" class="nav-link">Anmelden</a>
    {% endif %}
{% endblock nav-item %}

{% block content %}
    <div class="rounded-lg p-3 bg-white shadow my-4 ">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for = "date-time"><i class="material-icons">today</i></label>
            </div>
            <input class = "form-control" type="datetime" name="test" id="date-time" value = "{% now "d.m.Y H:i" %} ">
        </div>
        <h1>Hello World</h1>
        {% lorem 9 p random %}
    </div>
{% endblock content %}

{% block javascript %}
    <script src="{% static 'js/jquery.datetimepicker.full.min.js' %}"></script>
    <script>
    let date_time = $('#date-time');
    date_time.datetimepicker({minDate: 0, format: 'd.m.Y H:i',});
    </script>
{% endblock javascript %}