{% extends "base_content.html" %}

{% load static %}

{% block sytlesheet %}
{% endblock sytlesheet %}

{% block title %}Home{% endblock %}
{% block brand %}Home{% endblock brand %}

{% block nav_item %}
    <a href="{% url 'polls:index' %}" class="nav-link">Umfragen</a>
    {{ block.super }}
{% endblock nav_item %}

{% block content %}
    <div class="p-3">
        <h1>Willkommen auf meiner Webseite!</h1>
        <p>Hier findest du aktuell nicht viel aber das wird sich vielleicht bald ändern.</p>
        <p>Es folgt etwas zufälliger Text um die Seite zu füllen ;D</p>
        <hr>
        {% lorem 7 p random %}
    </div>
{% endblock content %}

{% block javascript %}
{% endblock javascript %}