{% load widget_tweaks %}
{% load crispy_forms_field %}
{% load polls_tags %}

<div>
    <div class="row g-2 mb-3 {% if choice_form.non_field_errors %}rounded-2 border border-danger{% endif %}">
        {% for field in form.visible_fields %}
            <div class="col{% if not forloop.last %}-md{% endif %}" id="{{field.id_for_label|get_field_name}}">
                {% if not condition %}
                    {{field|add_label_class:"form-label"}}
                {% endif %}
                {% if field|is_select %}
                    {% include "base_inputs/input_field.html" with field=field field_with_filters=field|add_class:"form-select" %}
                {% else %}
                    {% include "base_inputs/input_field.html" with field=field field_with_filters=field %}
                {% endif %}
            </div>
        {% endfor %}
        {% if condition %}
            <div class="col-auto">
                <button class="btn btn-danger remove_form" type = "button" title="Feld entfernen" id="{{prefix}}" data-target=".options"><i class="fas fa-trash-alt"></i></button>
            </div>
        {% endif %}
    </div>
    {% include "polls/include/non_field_errors.html" with form=form %}
    <hr class="mt-0">
</div>