{% load widget_tweaks %}
{% load polls_tags %}

<div class="card mb-4 {% if question_form.non_field_errors %}border-danger{% endif %}">

    <div class="card-header">
        <div class="row my-0 question">

            <div class="col-md" id="{{question_form.text.id_for_label|get_field_name}}">
                {% include "base_inputs/input_field.html" with field=question_form.text field_with_filters=question_form.text %}
            </div>

            <div class="row col-auto">
                <label for="{{question_form.type.id_for_label}}" class = "col-auto col-form-label">{{question_form.type.label}}</label>
                <div class="col-auto" id="{{question_form.type.id_for_label|get_field_name}}">
                    {% include "base_inputs/input_field.html" with field=question_form.type field_with_filters=question_form.type|add_class:"custom-select" %}
                </div>
            </div>

        </div>
    </div>

    {{choice_formset.management_form}}

    <div class="card-body {% if choice_formset.non_field_errors %}border border-danger{% endif %}">
        {% include "polls/include/non_field_errors.html" with form=choice_formset %}
        <div class="options" hidden="">
            {% for choice_form in choice_formset %}
                {% if forloop.counter0 > 0 %}
                    {% include "polls/include/choice.html" with prefix=choice_formset.prefix condition=True form=choice_form %}
                {% else %}
                    {% include "polls/include/choice.html" with prefix=choice_formset.prefix condition=False form=choice_form %}
                {% endif %}
            {% endfor %}

            <button class="btn btn-success add_form" type="button" id="{{choice_formset.prefix}}"><i class="fas fa-plus"></i> Option hinzufügen</button>

            <div hidden="" id="{{choice_formset.prefix}}-empty">
                {% include "polls/include/choice.html" with field=choice_formset.empty_form.text field_with_filters=choice_formset.empty_form.text prefix=choice_formset.prefix condition=True form=choice_formset.empty_form %}
            </div>
        </div>
    </div>

    <div class="card-footer">
        <div class="row">

            <div class="col">
                <div class="custom-control custom-switch">
                    {% include "base_inputs/input_field.html" with field=question_form.required field_with_filters=question_form.required|attr:"class:custom-control-input" %}
                    <label for="{{question_form.required.id_for_label}}" class="custom-control-label">{{question_form.required.label}}</label>
                </div>
            </div>

            <div class="col-auto">
                <button class="btn btn-danger remove_form" type="button" id="{{question_formset.prefix}}" data-target=".questions"><i class="fas fa-trash-alt"></i> Frage löschen</button>
            </div>

        </div>
    </div>
</div>
{% include "polls/include/non_field_errors.html" with form=question_form %}