{% load widget_tweaks %}

<div class="card shadow mb-4">
    
    <div class="card-header">
        <div class="row my-0">
            
            <div class="col">
                {% include "base_inputs/input_field.html" with field=question_form.text field_with_filters=question_form.text %}
            </div>
            
            <div class="row col-auto">
                <label for="{{question_form.type.id_for_label}}" class = "col-auto col-form-label">{{question_form.type.label}}</label>
                <div class="col-auto">
                    {% include "base_inputs/input_field.html" with field=question_form.type field_with_filters=question_form.type|add_class:"custom-select" %}
                </div>
            </div>
        
        </div>
    </div>
    
    {{choice_formset.management_form}}
    
    <div class="card-body">
        <div id="options">
            {% for choice_form in choice_formset %}
                <div class="form-row">
                    <div class="form-group col">
                        {% include "base_inputs/input_field.html" with field=choice_form.text field_with_filters=choice_form.text %}
                    </div>
                    {% if forloop.counter0 > 0 %}
                    <div class="col-auto">
                        <button class="btn btn-danger remove_form" type = "button" title="Feld entfernen" id="{{choice_formset.prefix}}" data-target=".card-body"><i class="align-bottom material-icons">clear</i></button>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            
            <button class="btn btn-success add_form" type="button" id="{{choice_formset.prefix}}"><i class="align-bottom material-icons">add</i>Option hinzufügen</button>
            
            <div hidden="" id="{{choice_formset.prefix}}-empty">
                {% include "polls/include/choice.html" with field=choice_formset.empty_form.text choice_formset=choice_formset %}
            </div>
        </div>
    </div>
    
    <div class="card-footer">
        <div class="row">
            
            <div class="col">
                <div class="custom-control custom-switch">
                    {% include "base_inputs/input_field.html" with field=question_form.required field_with_filters=question_form.required|attr:"class:custom-control-input" %}
                    <label for="{{question_form.required.id_for_label}}" class="custom-control-label">{{question_form.required.label}}</label>
                </div>
            </div>
            
            <div class="col-auto">
                <button class="btn btn-danger remove_form" type="button" id="{{question_formset.prefix}}" data-target="fieldset"><i class="align-bottom material-icons">clear</i>Frage löschen</button>
            </div>
        
        </div>
    </div>
</div>