[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
django = {extras = ["argon2"],version ~= "3.2"}
django-crispy-forms = "*"
django-widget-tweaks = "*"
django-extensions = "*"
docutils = "*"

[requires]
python_version = "3.9"
