{% extends "userManagement/management_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Passwort ändern
{% endblock title %}
{% block brand %}
    Passwort ändern
{% endblock brand %}
{% block nav_item %}
    {{ block.super }}
{% endblock nav_item %}
{% block management_content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="mb-3">
            <legend class="border-bottom card-header">Passwort ändern</legend>
            <div class="card-body">
                {{ form|crispy }}
                <button class="btn btn-outline-info" type="submit">
                    <i class="fas fa-edit"></i> Passwort ändern
                </button>
            </div>
        </fieldset>
    </form>
    <div class="border-top card-footer">
        <small class="text-body-secondary">Wenn du dein Passwort änderst wirst du von allen Geräten abgemeldet.</small>
    </div>
{% endblock management_content %}
