{% extends 'userManagement/management_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Anmelden{% endblock title %}
{% block brand %} Anmelden{% endblock %}
{% block nav-item %}
    {{ block.super }}
    <a class="nav-link" href="{%url 'register' %}">Registrieren</a>
{% endblock nav-item %}

{% block management_content %}
    {% if next %}
        {% if user.is_authenticated %}
            <div class="alert alert-warning">Du hast keinen Zugriff auf diese Seite. Bitte logge dich mit einem anderen Account ein.</div>
        {% else %}
            <div class="alert alert-danger">Bitte logge dich ein um diese Seite zu sehen.</div>
        {% endif %}
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <legend class = "card-header">
            Bitte Melde dich an
        </legend>
        <div class="card-body">
            <fieldset class = "form-group">
                {{ form|crispy }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn btn-outline-info" type = "submit">
                    Anmelden
                </button>
            </div>
        </div>
    </form>
    <div class = "border-top card-footer">
        <small class = "text-muted">
            Du hast noch keinen Account? <a href = "{% url 'register' %}">Registrieren</a>
        </small>
    </div>
{% endblock management_content %}

