/* 
	My styles
*/
.text-toggle[aria-expanded=false] .text-expanded {
	display: none;
}
.text-toggle[aria-expanded=true] .text-collapsed {
	display: none;
}

.hidden {
	display: none;
}

/* back to top button */
#back-to-top {
	position: fixed;
	right: 20px;
	bottom: 30px;
	z-index: 99;
}

/* cookie banner */
.cookie-consent {
	opacity: 0.90;
}
.cookie-consent:hover {
	opacity: 1;
}

.footer {
	background-color: #f0f0f0bb;
}