{% extends "base_content.html" %}
{% block meta %}
{% endblock meta %}
{% block stylesheet %}
{% endblock stylesheet %}
{% block title %}
    Umfragen -
{% endblock title %}
{% block brand_url %}
    {% url "polls:index" %}
{% endblock brand_url %}
{% block brand %}
    Umfragen
{% endblock brand %}
{% block nav_item %}
    <a href="{% url 'home' %}" class="nav-link">Hauptseite</a>
    <a href="{% url 'polls:index' %}" class="nav-link">Übersicht</a>
    {{ block.super }}
{% endblock nav_item %}
{% block pre_content %}
    {{ block.super }}
    <div class="p-3">
    {% endblock pre_content %}
    {% block content %}
    {% endblock content %}
    {% block post_content %}
    </div>
    {{ block.super }}
{% endblock post_content %}
{% block javascript %}
{% endblock javascript %}
