{% extends 'userManagement/management_base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{title}}{% endblock title %}
{% block brand %}{{title}}{% endblock %}
{% block nav-item %}
    {{ block.super }}
    <a class="nav-link" href="{%url 'login' %}">Anmelden</a>
    <a class="nav-link" href="{%url 'register' %}">Registrieren</a>
{% endblock nav-item %}

{% block management_content %}
    <div class="card-body">
        <p>Dein Passwort wurde erfolgreich zurückgesetzt.</p>
        <a href="{{login_url}}">Anmelden</a>
    </div>
{% endblock management_content %}
