{% extends "userManagement/management_base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block brand %}
    {{ title }}
{% endblock brand %}
{% block nav_item %}
    {{ block.super }}
    <a class="nav-link" href="{% url 'login' %}">Anmelden</a>
    <a class="nav-link" href="{% url 'register' %}">Registrieren</a>
{% endblock nav_item %}
{% block management_content %}
    <form method="POST">
        {% csrf_token %}
        <legend class="card-header">Passwort zurücksetzen</legend>
        <div class="card-body">
            <fieldset class="mb-3">
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-info" type="submit">Anfordern</button>
            </div>
        </div>
    </form>
{% endblock management_content %}
