{% extends "base.html" %}

{% block title %}Fehlende Berechtigungen{% endblock %}
{% block content %}
    <div class="card my-4 shadow-sm">
        <div class="card-header">
            403 HTTP Forbidden
        </div>
        <div class="card-body">
            <p>Du hast keine Berechtigungen diese Seite zu sehen.</p>
            <ul>
                <li>Bitte überprüfe ob du angemeldet bist.</li>
                <li>Bitte überprüfe ob du die Adresse richtig geschrieben hast.</li>
            </ul>
        </div>
        <div class="card-footer">
            <a href="{% url 'home' %}">Zur Startseite</a>
        </div>
    </div>
{% endblock content %}