{% extends "base.html" %}

{% block title %}Seite nicht vorhanden{% endblock %}
{% block content %}
    <div class="card my-4 shadow-sm">
        <div class="card-header">
            404 Page not found
        </div>
        <div class="card-body">
            <p>Die gesuchte Seite konnte nicht gefunden werden.</p>
            <ul>
                <li>Bitte überprüfe ob du die Adresse richtig geschrieben hast.</li>
            </ul>
        </div>
        <div class="card-footer">
            <a href="{% url 'home' %}">Zur Startseite</a>
        </div>
    </div>
{% endblock content %}