{% extends "base.html" %}

{% block title %}Interner Fehler{% endblock %}
{% block content %}
    <div class="card my-4 shadow-sm">
        <div class="card-header">
            500 server error
        </div>
        <div class="card-body">
            <p>Es gab einen Fehler beim bearbeiten deiner Anfrage, wir bitten dies zu entschuldigen.</p>
            <ul>
                <li>Versuche die Seite neuzuladen und die Anfrage erneut zu senden.</li>
                <li>Sollte das Problem weiterhin bestehen nehme mit uns Kontakt auf.</li>
            </ul>
        </div>
        <div class="card-footer">
            <a href="{% url 'home' %}">Zur Startseite</a>
        </div>
    </div>
{% endblock content %}