{% extends 'base.html' %}

{% block meta %}{{ block.super }}{% endblock meta %}
{% block stylesheet %}{{ block.super }}{% endblock stylesheet %}
{% block title %}{{ block.super }}{% endblock title %}
{% block body_classes %}{{ block.super }}{% endblock body_classes %}
{% block body_extra_context %}{{ block.super }}{% endblock body_extra_context %}
{% block brand %}{{ block.super }}{% endblock brand %}
{% block nav_item %}{{ block.super }}{% endblock nav_item %}
{% block pre_content %}<div class="shadow bg-body">{% endblock pre_content %}
        {% block content %}{{ block.super }}{% endblock content %}
{% block post_content %}</div>{% endblock post_content %}
{% block javascript %}{{ block.super }}{% endblock javascript %}